.decisionCanvas-w-Node-v-Sift {
  background-color: var(--bg);
  border-radius: var(--xxl);
}

.decisionCanvas-w-Node-v-Sift .titleInputField {
  border-radius: 0;
  width: 300px;
}

.decisionCanvas-w-Node-v-Sift .toolbar {
  display: flex;
  justify-content: right;
}
.decisionCanvas-w-Node-v-Sift .toolbar,
.decisionCanvas-w-Node-v-Sift .sourceLinks,
.decisionCanvas-w-Node-v-Sift .targetLinks {
  padding: var(--m);
}

.decisionCanvas-w-Node-v-Sift .ui-Input {
  padding: 0 var(--xl);
}
