.ruleEditor {
  background-color: var(--bg);
  display: flex;
  padding: 20px;
}

.ruleEditor > .list {
  width: 20%;
}

.ruleEditor .input {
  margin-bottom: 25px;
}

.ruleEditor > ul {
  width: 78%;
  margin-left: 20px;
}
