.decisionEditor-ui-Canvas-w-Node {
  background-color: var(--canvasNode_bg);
  display: flex;
  flex-direction: column;
}

.decisionEditor-ui-Canvas-w-Node > .links {
  width: 100%;
  display: flex;
}

.decisionEditor-ui-Canvas-w-Node > .links > .targetLinks {
  width: 100%;
  display: flex;
}
