.e-domain-ui-Domain {
  margin-bottom: 0.25rem;
  transition: all 0.3s ease;
}

.e-domain-ui-Domain .do-not-attributes {
  text-align: center;
}
.e-domain-ui-Domain .--header:hover {
  background: var(--ghostButton_bg__hovered);
}
