.decision-Editor-w-Canvas-w-Node-w-TargetLink {
  display: flex;
  flex-direction: column;
  padding: var(--m);
  gap: var(--m);
}

.decision-Editor-w-Canvas-w-Node-w-TargetLink .joint {
  transform: translateX(-23px);
}
