.mirion-tooltip {
  /* Отступ для стрелки */
  padding: 14px;

  --tooltip_shadow: 0 1.2px 18px rgba(0, 0, 0, 0.15), 0 6.4px 29px rgba(0, 0, 0, 0.15);
  --tooltip_bg: #3b4258;
  --tooltip_color: white;
}

.mirion-tooltip .mirion-tooltip__content {
  padding: 8px 16px;
  max-width: 120px;
  text-align: center;
}

.mirion-tooltip .mirion-balloon__content {
  border-radius: 4px;
  box-shadow: var(--tooltip_shadow);
  color: var(--tooltip_color);
  font-size: 14px;
  background-color: var(--tooltip_bg);
}

.mirion-tooltip .mirion-balloon__arrow {
  box-shadow: var(--tooltip_shadow);
  background-color: var(--tooltip_bg);
}
