.decision-Editor-w-Canvas-w-Link > .--link {
  stroke: var(--decision-Editor-joint_color__linked);

  &.--selected {
    stroke: violet;
  }
}

.decision-Editor-w-Canvas-w-Link > .--overlay {
  stroke: transparent;
}

/* Hover */
.decision-Editor-w-Canvas-w-Link:hover > .--link {
  stroke: violet;
  opacity: 0.5;
}
.decision-Editor-w-Canvas-w-Link:hover > .--selected.--link {
  stroke: violet;
  opacity: 0.8;
}
