.decision-Editor {
  position: relative;
  width: 100%;
  height: 100%;

  > .panel {
    position: absolute;
    z-index: 10;
  }

  > .panel.--header {
    width: 100%;
    right: 0;
    left: 0;
  }

  > .panel.--left {
    left: 0;
  }

  > .panel.--right {
    right: 0;
  }

  /**
  * header_height 
  */
  --panel__header_height: 64px;

  > .panel.--header {
    height: var(--panel__header_height);
  }

  > .panel.--left,
  > .panel.--right {
    top: var(--panel__header_height);
  }

  /* panel width */

  > .panel.--left {
    width: calc(var(--decision-Editor-panel__left_width) * 1px);
    max-width: 35rem;
    min-width: 15rem;
  }

  > .panel.--right {
    width: calc(var(--decision-Editor-panel__right_width) * 1px);
    max-width: 35rem;
    min-width: 15rem;
    height: 100%;
  }

  > .panel.--right.--fullscreen {
    width: calc(100% - var(--decision-Editor-panel__left_width) * 1px);
    max-width: none;
  }

  /* resizeBar */

  .panel > .resizeBar {
    position: absolute;
    top: 0;
    width: 5px;
    height: 100%;
    transition: background 0.5s;

    &.--resizing,
    &:hover {
      background-color: var(--primary);
    }
  }

  > .panel.--right > .resizeBar {
    left: 0;
  }

  > .panel.--left > .resizeBar {
    right: 0;
  }

  > .panel.--right.--fullscreen > .resizeBar {
    display: none;
  }
}
