.PointNode {
  background-color: var(--decisionPoint_bg);
  border-width: 1px;
  border-style: solid;
  border-color: transparent;
  border-radius: 0.5rem;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  color: var(--color);
  box-shadow: rgba(9, 30, 66, 0.25) 0px 4px 8px -2px, rgba(9, 30, 66, 0.08) 0px 0px 0px 1px;
}

.PointNode.--selected {
  border-color: var(--primary);
}

.PointNode > .name {
  cursor: grab;
  user-select: none;
  min-height: 3rem;
  display: flex;
  align-items: flex-end;
  margin-bottom: 0.5rem;
  padding: 0.5rem;
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
  background-color: var(--bg);
}

.PointNode > .links {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0.5rem;
  word-break: break-all;
}

.PointNode > .links > * {
  display: flex;
  text-align: left;
  justify-content: space-between;
  padding: 5px;
  min-height: 2rem;
  border-top: 1px solid var(--color);
  width: 100%;
}

.PointNode > .add-rule {
  padding: 0.5rem;
}
