.point-Node {
  user-select: none;
}

.point-Node > .container {
  background: var(--pointNode_bg);
  border-radius: 8px;
  width: 100%;
  border: 0;
}

.point-Node > .container > .content > .title {
  padding: 1.2rem 0.8rem 0.6rem 0.8rem;
  box-sizing: border-box;
  border-width: 0;
  width: 100%;
}

.point-Node > .container > .content > .description:not(:empty) {
  padding: 0 0.8rem 0.8rem 0.8rem;
  box-sizing: border-box;
  font-size: 0.8em;
}
