.decision-Editor-w-Canvas-w-Node-v-Filter-w-Toolbar {
  display: flex;
  justify-content: space-between;
  overflow: hidden;
  border-radius: var(--xl);
}

.decision-Editor-w-Canvas-w-Node-v-Filter-w-Toolbar .selection {
  margin-left: var(--l);
}
.decision-Editor-w-Canvas-w-Node-v-Filter-w-Toolbar .a-Button {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.decision-Editor-w-Canvas-w-Node-v-Filter-w-Toolbar .a-Button:last-child {
  border-top-left-radius: 0;
  border-bottom-right-radius: 0;
}
