.point-NodeJoint {
  padding: 0;
  margin: 0;
  width: 0.6rem;
  height: 0.6rem;
  border-radius: 0.2rem;
  background-color: red;
  cursor: pointer;
}

/* Variants */

.point-NodeJoint.--unlinked {
  background-color: var(--pointJoint_bg__unlinked);
}

.point-NodeJoint.--linked {
  background-color: var(--pointJoint_bg__linked);
}

.point-NodeJoint.--new {
  background-color: var(--pointJoint_bg__new);
}
