.point-NodeNewSource {
  --border-radius: var(--s);
  display: flex;
  align-items: center;
  margin: 0 var(--m) 0 0;
  padding: 0 var(--m) 0 0;
  background-color: rgba(141, 61, 215, 0.416);
  border-radius: var(--border-radius);
}

.point-NodeNewSource .newRuleButton {
  background-color: transparent;
  border: 0;
  width: 32px;
  height: 32px;
  color: var(--color);
  margin: 0 10px 0 0;
  border-top-left-radius: var(--border-radius);
  border-bottom-left-radius: var(--border-radius);
}
.point-NodeNewSource .newRuleButton:hover {
  background-color: rgba(0, 0, 0, 0.221);
}
