.decision-Editor-w-LeftPanel {
  position: relative;
  height: 100%;
  display: flex;
  flex-direction: column;
  overflow: scroll;
  padding-bottom: 30vh;
}

.decision-Editor-w-LeftPanel > .toolbar {
  display: flex;
  align-items: center;
  width: 100%;
  padding: var(--xl);
}

.decision-Editor-w-LeftPanel > .toolbar > .search {
  width: 100%;
}
