.decision-Editor-w-Canvas-w-Node-w-SourceLinks {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: end;
  padding: var(--m);
  gap: var(--m);
}

.decision-Editor-w-Canvas-w-Node-w-SourceLinks > .rule {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding-left: var(--m);
}

.decision-Editor-w-Canvas-w-Node-w-SourceLinks > .rule > .editRule {
  width: 210px;
  height: 100%;
  text-align: left;
  overflow: hidden;
  text-overflow: ellipsis;
  text-wrap: nowrap;
}

.decision-Editor-w-Canvas-w-Node-w-SourceLinks > .rule:hover {
  background-color: var(--field_bg__hover);
  border-radius: 1rem;
}

.decision-Editor-w-Canvas-w-Node-w-SourceLinks .joint {
  transform: translateX(23px);
}
