.decisionCanvas-w-Node-v-Filter {
  border-radius: var(--xxl);
}

.decisionCanvas-w-Node-v-Filter .toolbar {
  display: flex;
  justify-content: right;
}

.decisionCanvas-w-Node-v-Filter .sourceLinks,
.decisionCanvas-w-Node-v-Filter .targetLinks {
  display: flex;
  flex-direction: column;
}

.decisionCanvas-w-Node-v-Filter .ui-Input {
  padding: 0 var(--l);
}
