.e-ui-Rules-Create {
  background-color: var(--bgSecondary);
  display: flex;
  padding: 20px;
}

.e-ui-Rules-Create > .list {
  width: 20%;
}

.e-ui-Rules-Create .input {
  margin-bottom: 25px;
}

.e-ui-Rules-Create > ul {
  width: 78%;
  margin-left: 20px;
}
