.ui-Canvas-w-Node {
  display: flex;
  flex-direction: column;
}

.ui-Canvas-w-Node > .links {
  width: 100%;
  display: flex;
}

.ui-Canvas-w-Node > .links > .targetLinks {
  width: 100%;
  display: flex;
}
