.e-rule-ui-DomainList-Item {
  padding: 0.25rem;
  cursor: grab;
  transition: all 0.3s ease;
  margin-bottom: 0;
}

.e-rule-ui-DomainList-Item .do-not-attributes {
  opacity: 0.5;
  margin-left: 3rem;
}
