.ui-Accordion {
  border-radius: var(--m);
}

/* HEIGHT */
.ui-Accordion.--s > *:first-child {
  height: var(--accordion_height__s);
}
.ui-Accordion.--m > *:first-child {
  height: var(--accordion_height__m);
}
.ui-Accordion.--l > *:first-child {
  height: var(--accordion_height__l);
}

/* VARIANTS */
.ui-Accordion.--bg {
  background-color: var(--bg);
}
.ui-Accordion.--bgSecondary {
  background-color: var(--bgSecondary);
}
