.e-ui-Rules-AddRules {
  background-color: var(--bgSecondary);
  display: flex;
  padding: 20px;
}

.e-ui-Rules-AddRules > .list {
  width: 20%;
}

.e-ui-Rules-AddRules .input {
  margin-bottom: 25px;
}

.e-ui-Rules-AddRules > ul {
  width: 78%;
  margin-left: 20px;
}
