.story-Page {
  height: 100%;

  .panel {
    overflow: auto;
    height: 50%;
  }

  > .panel.--top {
    border-bottom: 1px solid var(--bgSecondary);

    > .description {
      padding: var(--xl);
      border-bottom: 2px solid var(--bgSecondary);
    }

    > .showcase {
      padding: var(--xl);
    }
  }

  > .panel.--bottom {
    > .controls {
      display: flex;
      flex-direction: column;
      gap: var(--m);
      padding: var(--xl) var(--xl) 20% var(--xl);
    }
  }
}
