.ui-Modal {
  display: flex;
  justify-content: center;
  align-items: center;

  & .wrapper {
    position: relative;
  }

  & .wrapper > .closeButton {
    position: absolute;
    right: 0;
    transform: translateX(calc(100% + var(--l)));
    top: 0;
  }

  & .wrapper > .content {
    background-color: red;
  }
}

.ui-Modal.--blured {
  backdrop-filter: blur(17px);
}
