.ui-Modal {
  display: flex;
  justify-content: center;
  align-items: center;

  & .wrapper {
    position: relative;
    animation: opacity 0.33s normal forwards;
  }

  & .wrapper > .closeButton {
    position: absolute;
    right: 0;
    transform: translateX(calc(100% + var(--l)));
    top: 0;
  }
}

.ui-Modal.--blured {
  animation: blur 0.33s normal forwards;
}

@keyframes blur {
  from {
    backdrop-filter: blur(0px);
  }
  to {
    backdrop-filter: blur(17px);
  }
}

@keyframes opacity {
  from {
    opacity: 0;
    transform: scale(0.1);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}
