.decision-Editor-DecisionPanel {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 var(--xxl);
}

.decision-Editor-DecisionPanel > .center > .name {
  width: 15rem;
  margin-left: 2rem;
}

.decision-Editor-DecisionPanel > .right > .controls {
  display: flex;
  align-items: center;
  gap: var(--l);
}
