.ui-Button {
  border-radius: var(--m);
  text-transform: uppercase;
}

.ui-Button > span {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.ui-Button:active > span {
  transform: translateY(1px);
}
