.decision-Editor-w-Header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 var(--xxl) 0 0;
}

.decision-Editor-w-Header > .center > .name {
  width: 15rem;
  margin-left: 2rem;
}

.decision-Editor-w-Header > .right > .controls {
  display: flex;
  align-items: center;
  gap: var(--l);
}
