.ruleEditor {
  background-color: var(--bg);
  display: flex;
  padding: 20px;
  max-width: 1400px;
  margin: 0 auto;
}

.ruleEditor .input {
  margin-bottom: 25px;
}

.ruleEditor > ul {
  width: 100%;
  margin-left: 20px;
}
