.decision-Editor-w-RightPanel-w-RuleList {
  width: 100%;

  > .list {
    display: flex;
    flex-direction: column;

    > li {
      padding: var(--l);
      border-radius: var(--m);
    }

    > li:hover {
      background-color: var(--field_bg__hover);
    }
  }
}
