.point-Joint {
  width: 10px;
  height: 10px;
  border-radius: 5px;
  background-color: red;
  cursor: pointer;
}

.point-Joint.--unlinked {
  background-color: rgb(255, 255, 255);
}
.point-Joint.--new {
  background-color: rgb(84, 222, 104);
}
.point-Joint.--linked {
  background-color: rgb(83, 160, 255);
}
