.decision-Editor-w-Canvas-w-Node-w-Joint {
  border: 0;
  margin: 0;
  padding: 2px;
  width: 1.6rem;
  height: 1.6rem;
  border-radius: 50%;
  background-color: blue;
  cursor: pointer;
  background: transparent;
  outline: none;
}

.decision-Editor-w-Canvas-w-Node-w-Joint div {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: red;
  cursor: pointer;
}

/* Variants */

.decision-Editor-w-Canvas-w-Node-w-Joint:hover,
.decision-Editor-w-Canvas-w-Node-w-Joint:focus {
  box-shadow: 0px 0px 0px var(--button_outlineWidth) var(--button_outlineColor);
}

.decision-Editor-w-Canvas-w-Node-w-Joint.--unlinked div {
  background-color: var(--decision-Editor-joint_color__unlinked);
}

.decision-Editor-w-Canvas-w-Node-w-Joint.--linked div {
  background-color: var(--decision-Editor-joint_color__linked);
}

.decision-Editor-w-Canvas-w-Node-w-Joint.--new div {
  background-color: var(--decision-Editor-joint_color__new);
}

.decision-Editor-w-Canvas-w-Node-w-Joint.--disabled {
  opacity: 0.5;
}
