.decision-Editor-w-Canvas-w-Node {
  background-color: var(--canvasNode_bg);
  display: flex;
  width: 300px;
  flex-direction: column;
  overflow: hidden;
}

.decision-Editor-w-Canvas-w-Node > .links {
  width: 100%;
  display: flex;
}

.decision-Editor-w-Canvas-w-Node > .toolbar {
  height: 2.75rem;
}
