/* Variables */

.decision-Editor-w-Canvas-w-Node {
  --node-padding: 0.6rem;
}

/* Styles */

.decision-Editor-w-Canvas-w-Node {
  background-color: var(--canvasNode_bg);
  display: flex;
  width: 300px;
  flex-direction: column;
}

.decision-Editor-w-Canvas-w-Node > .links {
  width: 100%;
  display: flex;
}

.decision-Editor-w-Canvas-w-Node:hover > .links .--new {
  opacity: 1;
}
.decision-Editor-w-Canvas-w-Node > .links .--new {
  opacity: 0;
  transition: opacity 0.3s;
}

.decision-Editor-w-Canvas-w-Node > .toolbar {
  height: 2.75rem;
}

.decision-Editor-w-Canvas-w-Node .selection {
  visibility: hidden;
  opacity: 0;
  transition:
    visibility 0.1s,
    opacity 0.1s;
}
.decision-Editor-w-Canvas-w-Node:hover .selection,
.decision-Editor-w-Canvas-w-Node.--selected .selection {
  opacity: 1;
  visibility: visible;
}
