.point-Node.--sift > .container > .target-links {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 18px;
}

.point-Node.--sift > .container > .target-links > *:not(:last-child) {
  margin-bottom: 8px;
}

.point-Node.--sift > .container > .content > .new-source-link {
  display: flex;
}

.point-Node.--sift > .container > .content > .RuleSet {
  margin: 0 8px 8px 0;
}

.point-Node.--sift .point-Joint {
  background-color: rgb(255, 255, 255);
}
.point-Node.--sift .point-Joint.--new {
  background-color: rgb(84, 222, 104);
}
.point-Node.--sift .point-Joint.--linked {
  background-color: rgb(83, 160, 255);
}

.point-Node.--sift .new-source-link {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 8px 0 0;
  padding: 8px;
}

.point-Node.--sift > .container {
  position: relative;
}
.point-Node.--sift > .container > .content > .computation {
  position: absolute;
  right: 1rem;
  top: 0;
  font-size: 10px;
  border: 0;
  cursor: pointer;
  color: var(--color);
}
.point-Node.--sift > .container > .content > .computation.--parallel {
  background-color: rgba(251, 0, 255, 0.191);
}
.point-Node.--sift > .container > .content > .computation.--successively {
  background-color: rgba(84, 255, 249, 0.38);
}
