.decision-Editor-w-PointPanel {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.decision-Editor-w-PointPanel > .toolbar {
  display: flex;
  align-items: center;
  padding: var(--xl);
}

.decision-Editor-w-PointPanel > .nodeList {
  /* padding: var(--xxl) 0; */
}

.decision-Editor-w-PointPanel > .search {
  padding: var(--xl);
}
