.e-domain-ui-Domain {
  padding: 10px;
  border: 1px solid slategrey;
  margin-bottom: 10px;
  width: 100%;
}

.e-domain-ui-Domain .--header {
  padding: 10px;
  display: flex;
  justify-content: space-between;
}
