.RuleSet {
  position: relative;
}

.RuleSet > .addLink {
  width: 6px;
  height: 14px;
  padding: 0;
  position: absolute;
  box-sizing: border-box;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  border: none;
  background-color: var(--nodeRuleSet_bg);
  cursor: pointer;
}

.RuleSet > .addLink:hover {
  background-color: var(--nodeRuleSet_bg__hovered);
}
