.editorRules {
  background: aliceblue;
  height: 400px;
  width: 100%;
  position: relative;
  display: flex;
}
.editorRules-textarea {
  width: 100%;
  background: transparent;
}

.editorRules-caret {
  z-index: 1;
  height: 20px;
  width: 2px;
  background: black;
  top: 7px;
  left: 305px;
  position: absolute;
  animation: blink 0.7s forwards infinite;
}

@keyframes blink {
  0% {
    opacity: 0;
  }

  50% {
    opacity: 0.01;
  }

  100% {
    opacity: 1;
  }
}
